[InstrumentsOptionSetProvider]
min_search_len = 3

[[InstrumentsOptionSetProvider.providers.ExampleInstrumentProvider]]
id_prefix = "example"
text_prefix = "Example: "
base_url = "https://example.com/api/v1/instruments"

[handlers.ExampleInstrumentSearchHandler]
[[handlers.ExampleInstrumentSearchHandler.backends]]
id_prefix = "example"
base_url = "https://example.com/api/v1/instruments"

[[handlers.ExampleInstrumentSearchHandler.catalogs]]
catalog_uri = "http://example.com/terms/questions/test-instrument-search"
auto_complete_field_uri = "http://example.com/terms/domain/search/instrument/example"

[handlers.ExampleInstrumentSearchHandler.catalogs.attribute_mapping]
"longName" = "http://example.com/terms/domain/search/instrument/example/long-name"
"shortName" =  "http://example.com/terms/domain/search/instrument/example/short-name"
"serialNumber" =  "http://example.com/terms/domain/search/instrument/example/serial"
